<h2>Por Pais</h2>
<hr />

<div class="row my-4">
  <div class="col">
    <div class="d-flex justify-content-center">
      <button
        class="btn mx-2"
        *ngFor="let region of regions"
        (click)="searchByRegion(region)"
        [ngClass]="{
          'btn-outline-primary': region === selectedRegion
        }"
      >
        {{ region }}
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr />
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
